doctype
html(lang="en") 
    head
        link( href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./assets/styles/index.css")
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title
            |Simple get Github Repos App
    body
        include src/views/add-user-form/add-user-form.pug   
        repos-element
        include src/views/messenger/messenger.pug   
        script(src="./index.js")