doctype
section.messenger(
    id = 'messenger-root'
    )
    div.messenger__popup
        h2.messenger__popup__header
            |Warning!
        p.messenger__popup__message(
            id = 'messenger-message'
            )
        button.messenger__popup__submit(
            id = 'messenger-close'
            )
            |OK