doctype
section.add-user-repos
    form.add-user-repos__form
        div.add-user-repos__form__user
            label.add-user-repos__form__user__label
                |User name
            input.add-user-repos__form__user__input(
                id = 'add-user-repos__user'
                )
        div.add-user-repos__form__update
            label.add-user-repos__form__update__label
                |Update at
            input.add-user-repos__form__update__input(
                id = 'add-user-repos__updated'
                )
        div.add-user-repos__form__submit
            button.add-user-repos__form__submit__button(
                id = 'add-user-repos__submit'
                )
                |Add user repository