.add-user-repos {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 100px; }
  .add-user-repos__form {
    display: flex;
    align-items: center;
    flex-grow: 1; }
    .add-user-repos__form .label, .add-user-repos__form .add-user-repos__form__user__label, .add-user-repos__form .add-user-repos__form__update__label {
      color: #fff;
      margin-left: 50px; }
    .add-user-repos__form .button, .add-user-repos__form .add-user-repos__form__submit__button {
      color: #fff;
      background-image: linear-gradient(90deg, #ed1d2b, #ed1d2b, #faa619);
      transition: transform 0.5s; }
      .add-user-repos__form .button:hover, .add-user-repos__form .add-user-repos__form__submit__button:hover {
        transform: scale(1.03); }
